/*
Creator: Ronan McClorey
Date Created: 12/12/19
Date last modifies: 12/19/19
*/

header, footer {
  text-align: center;
}

h1 {
  font-family: 'Acme', sans-serif;
}

nav {
    border-top: thin #87bdd8 solid;
    border-bottom: thin #87bdd8 solid;
    padding-top: 12px;
    padding-bottom: 12px;
}


nav a:hover {
    font-weight: bold;
}

nav a:visited {
    color: darkblue;
}

nav a:active {
    text-decoration: none;
}

nav .btn {
    background-color: #daebe8;
    color: black;
}

#carouselNews {
  padding-top: 30px;
  padding-bottom: 30px
}
